.header{
    /* background-color: #EEFBF3; */
    /* border-bottom: 1px solid #78909C; */
}
.title{
    color: #309255;
}
.title:hover{
    color: gray;
}

/* Toggle Theme */ 
.dark {
    background-color: #333;
    color: #fff;
}
.light {
    background-color: #fff;
    color: #333;
}
.toggle{
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}